* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* section-route */

section {
    background-color: #ffc603;
}
/*
.route-fee {
    color: #fff;
}

.route-list-one {
    list-style-image: url(../assets/images/shape.png);
}

.route-list-two {
    list-style-image: url(../assets/images/shape2.png);
}

ul li {
    border-radius: 6px;
    border: 1px solid #fff;
    margin: 1rem;
}


/* Small devices (tablets, 768px and up) */

/* @media (min-width:768px) {}


/* Medium devices (desktops, 992px and up) */

/* @media (min-width: 992px) {} */

.mapa-container {
    margin-bottom: 1rem;
     margin-top: 1rem;
     padding-bottom:1rem;
     padding-top: 1rem;
     outline: 1px solid #fff;
     padding-left: 0;
     padding-right: 0;
 }
 .ruta {
     margin-top: 1rem;
     text-align: center;
 }