* {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-yellow {
  background-color: #f7b617;
}

.white {
  color: #fff;
}

.opaque {
  background-color: rgba(56, 53, 54, 0.3);
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  background-image: url(../assets/images/logoForma.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 50%;
  padding: 30px;
  width: 50%;
}

.navbar-default .navbar-toggle {
  float: left;
  margin: 0;
  margin: 10px;
}

.row {
  margin: 0;
}

.bg-section-one {
  background-image: url(../assets/images/taxi.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.elements {
  padding: 10px;
}

.image-logo {
  display: inline-block;
}

.btn-start {
  border-color: #fff;
  background-color: #fff;
  color: inherit;
  
}

h1, .btn-start, .text-desktop, .btn-section-three {
  font-weight: 900;
}

.text-desktop {
  font-size: 24px;
}

.btn-start {
  color: #333;
  background-color: #fff;
  border-color: #fff;
 
}

/*Estilos de la sección 2*/
@media only screen and (max-width : 992px) {
  .section-two-xs {
    padding: 2em 1em 0 1em;
 }

  .mobile-box-xs {
    border: 1px solid #fff;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 2em;
  }

  .first-text {
    font-size: 20px;
    text-align: center;
  }
  
  .second-text {
    font-size: 16px;
  }
}

@media only screen and (min-width : 1024px) {
  .section-two-lg {
    padding: 2em 0;
  }
  .mobile-box-lg {
    border: 1px solid #fff;
    border-left: 0;
    padding: 1em;
  }

  .textbox {
    line-height: 1.5;
    letter-spacing: 0.7px;
  }
  
  .rate {
    padding: 3em 8em 3em 7em;
  }

  .change-map {
    content: url(../assets/images/full-map.png);
  }

  .footer-section {
    padding: 4em 6em 3em 6em;
  }

  .apps {
    transform: translateY(75px);
  }  

}

/*Estilos de la sección 3*/
.bg-section-three {
  background-image: url(../assets/images/conduce.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-section-three {
  padding: 10px 10px;
  width: 100%;
  height: 50vh;
  white-space: normal;
}

.btn-section-three {
  color: #fff;
  border-color: #f7b617;
}

ul {
  list-style: none;
}

/*Estilos de la sección 4*/
.section-four {
  padding: 3em 0.5em;
}

.my-way {
  margin: 1em 0;
}

input {
  background: none;
  border-radius: 7px;
  border: 1px solid #fff;
  margin-left: 0.7em;
  outline: none;
  padding: 0.3em;
  width: 75%;
}

.my-btn {
  margin: 2em;
  text-align:center; 
}

.btn-default {
  font-weight: bold;
  margin: 0 auto;
 
}

input::placeholder {
  color:#fff;
}

.img-map {
  border: 1px solid #fff;
  padding: 0.7em;
}

/*Estilos del footer*/
footer {
  background-color: #2b2b2b;
}

.log-footer {
  padding: 10px 10px 0;
  line-height: 2;
}

.logo-box::after, .labcar-brand::before {
  content: "";
  margin: 1.5em 0;
  display: block;
  border: 0.5px solid #fff;
  width: 100%;
}

.icons {
  margin: 0.3em;
}

.app-site {
  margin-top: 2em;
}

.google {
  margin-bottom: 1em;
}

.social-networks {
  transform: translateY(220px);
}

.labcar-brand {
  padding-bottom: 1em;
  padding-left: 2em;
}

/*Estilos de Modales*/
.modal-content-register {
  background-color: #08ac9d;
}
/*
.modal-body-register {
  padding: 0 10em 1em 10em;
}
*/
.modal-user {
  text-align: center;
}

.input-group, .btn-warning {
  margin: 1em;
}

.profile {
  border-radius: 7px;
  width: 200px;
  margin-top: 1.5em;
}

.log-in-input {
  background-color: #f8f8f8;
  border-radius: 4px;
  padding: 2em;
  text-align: center;
}
